body {
    /* background: #40E0D0;  
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  */
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: hidden;
}
.ful2{
    position: fixed;
    width: 100vw !important;
}
#ashol {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    position: relative;
    display: block;
}

#cont {
    width: 700px;
    max-height: 700px;
    position: relative;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:transparent;
    margin: 0px;
    padding: 0px;
    top: 50%;
}

#cont #halo {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    cursor:crosshair;       
    border-radius: 10px;
}

.cuemark {
    width: 600px;
    border-color: transparent;
    border-top: 1px dashed #000;
    margin: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 20px;
    cursor: crosshair;
}

.left-block {
    width: 300px;
    max-width: calc((100vw - 600px) / 2 - 25px);
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    left: calc((100vw - 600px) / 4);
}

.left-block, .right-block {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Arial';
}
#gen {
    margin-top: 40px;
}
.brushes {
    padding-top: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 4px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}
  
.slider::-moz-range-thumb {
    border-radius: 10px;
    width: 20px;
    height: 20x;
    background: #ffffff;
    cursor: pointer;
}

.buttons {
    padding-top: 10px;
    display: block;
}

.buttons button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.right-block {
    width: 300px;
    max-width: calc((100vw - 600px) / 2 - 25px);
    position: fixed;
    top: 50%;
    transform: translate(50%,-50%);
    right: calc((100vw - 600px) / 4);
}

.left-block .buttons {
    margin-top: 30px;
}



.color {
    position: fixed;
    width: calc((100vw - 600px) / 2 - 25px);
    right: 50vw;
    transform: translate(50%,0);
    top: 10px;
}
@media only screen and (max-height: 600px) {
    .color {
        right: calc((100vw - 600px) / 4);
    }
}
.color .buttons {
    margin: 0px;
}
.color .buttons button{
    width: 160px;
    display: inline-block;
}

.buttons button:hover {
    background: #000;
    color: #fff;
}

button:hover {
    background: #000;
    color: #fff;
}

* {
    transition: all 0.5s ease;
}

#pause{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top: 0px;
    opacity: 0;
    z-index: -1;
}
#pause span{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100vw;
    display: block;
}

#mroom{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 0px;
}
#mroom .buttons{
    position: relative;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
    width: 400px;
    display: block;
    margin: 0px;
}
#mroom input{
    display: block;
    width: 400px;
    border: 0;
    border-radius: 0;
    background-color: #ffffff;
    height: 40px;
    border-radius: 20px;
    outline: none;
    position: relative;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

#downs{
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    top: 0px;
    z-index: -9;
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 50px;
}

#downs #final {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    cursor:crosshair;   
    border-radius: 10px;
    top: 50px;
    margin-bottom: 50px;
}

#mobile{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,1);
    top: 0px;
}
#mobile span{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    width: 100vw;
    display: block;
}

@media only screen and (min-aspect-ratio: 1/1 ) {
    #mobile{
        opacity: 0;
        z-index: -1;
    }
}
.arrows {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
.arrows i {
    width: 40px;
    border-radius: 20px;
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}